.App {
  text-align: center;
  color: rgb(31, 53, 71);
}

.header{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header a{
  margin-right: 1rem;
  text-decoration: none;
}
.homeimage{
  filter: blur(3px);
}

.dream-card img {
max-width: 20%;
max-height: 20%;
height: auto;
}
.dream-card p {
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
}
.dream-card{
  margin-top: 10%;
  margin-bottom: 10%;
}
form{
  padding-top: 10px;
}
.dream-form{
 display:flex;
 flex-direction: column;

 align-items: center;
}
.dream-form input{
  margin-bottom: 0.5rem;
}



