.App {
  text-align: center;
  color: rgb(5, 29, 46);
  margin: 0 auto 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  /* background-image: url(rock.png); */
  /* background-size: cover;   */
  /* background-repeat: no-repeat; */
  filter: blur(.5px);
}
body{
  background-color: rgb(180, 208, 252); 
  /* background-image: url(cloud.gif); */
}
*{
  /* background-image: url(https://d2w9rnfcy7mm78.cloudfront.net/12132240/original_daf271b5b24185bbcacd5e47189564ec.jpg?1622472253?bc=0); */
  /* background-image: url(cloud.gif); */
  /* filter: blur(.3px); */
  /* background-size: cover;  */
  /* background-repeat: no-repeat;  */
  /* filter:invert(10); */
}
.landingpage{
  /* background-color: rgb(180, 208, 252);  */
  background-image: url(cloud.gif);
}

.glow{
  filter: blur(3px);
}

.notes-section{
  font-style: italic;
  font-weight: 200;
  background-color: rgb(207, 223, 248); 
  filter:opacity(80%)
}
button{
  /* background-color: rgb(220, 225, 228); */
  filter: blur(.2px);
  border-radius: 4px;
  background-image: url(cloud.png);
}
.submitbutton{
  background-color: rgb(220, 225, 228);
  filter: blur(.2px);
  border-radius: 4px;
  background-image: url(cloud.gif);
}
.header{
    display: grid;
    grid-template-columns: fr 2fr 150px 150px;
    grid-gap: 1px;
    margin-bottom: 30px;
    border-bottom: 1px solid #a54343;
}
.notes-section{
  border-style:groove;
  margin-left: 70px;
  margin-right: 70px;
  border-color: rgb(252, 252, 252);
}
.baloon{
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: fly;
  position: fixed;
  top: 50%;
  width: 100px;
}
.header a{
  margin-right: 1rem;
  text-decoration: none;
  font-size: 20px;
}
/* header .header{
  margin-top: 30%;
  margin-bottom: 30%;
  width: 100%;
} */

.one{
  margin-top: 2px;
  margin-left: 30px;
  float: left;
  font-size: 30px;
  color: rgb(11, 31, 31);
  font-weight:lighter;
}
.two a{
  float: right;
  font-size: 40px;
  margin-right: 25px;
  color: rgb(11, 31, 31);
  font-weight:lighter;
}
.title{
  filter:invert(40);
}
.your-dream-header{
  filter: blur(.5px);
}
.subtitle{
filter: blur(.7px);
}

.homeimage{
  margin-top: 7%;
  filter: blur(4px);
}
.signup{
  border-style: solid;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  /* background-color: rgb(180, 208, 252);  */
  background-image: url(cloud.gif);
}
.newdream{
  border-style: solid;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  /* background-color: rgb(180, 208, 252);  */
  background-image: url(rock.png);
}
.signup a {
  text-decoration: none;
  color: rgb(12, 25, 100);
}
.signupform{
  display:flex;
  flex-direction: column;
  margin-top: 5%;

  align-items: center;
}
 .submitbutton{
  margin-top: 4%;
  margin-bottom: 4%;
  background-image: url(cloud.png);
}
.loginform{
 display:flex;
 flex-direction: column;
 margin-top: 5%;


 align-items: center;
}
.newdreamheader{
  filter: blur(.5px);
}
.landingpage{
  border-style: solid;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
 
}
.landingpage button{
  margin-top: 4%;
  margin-bottom: 4%;
}
.landingpage a {
  text-decoration: none;
  color: rgb(12, 25, 100);
}
.dream-card img {
max-width: 40%;
max-height: 40%;
height: auto;

}
.dream-card p {
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;
}
.dream-card{
  display: grid;
  border: solid;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  background-image: url(rock.png);
}
.innercard{
  border: solid;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 1%;
  margin-bottom: 5%;
  background-color: azure;

}
.dream-card button{
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 5%;
} 
.dream-form{
margin-top: 7%;
 display:flex;
 flex-direction: column;

 align-items: center;


}
.dream-form input{
  margin-bottom: 0.5rem;
}
.newuserform{
  margin-top: 20%;
 display:flex;
 flex-direction: column;

 align-items: center;
}



